@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*{
    margin:0;
    padding:0;
}
 
body{
    background-color:#aacf53;
    margin:48px 0 0 0;
} 

header{
    background-color:#460e44;
    color:white;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:-1;
}

#good_picture{
    width:24;
    position:absolute;
    left:50px;
    top:50px;
}

.box{ 
    background-color:#0d0015;
    color:white;
    width:240px;
    height:80px;
    margin:5px;
    float:left;
    overflow:hidden;
}

#main{
    background-color:#fef4f4;
    width:calc(100%-200px);
    min-width:500px;
    float:left;
}

#main1{
     background-color:#b7282e;
     width:500px;
     float:left;
}

#main2{
     background-color:#1e50a2;
     width:500px;
      float:left;
}

aside{ 
    background-color:#f08300;
    width:200px; 
    float:right;
    position:relative;
    top:20px;
    right:10px;
}

footer{
    background-color:#fdeff2;
     clear:both;
}
 
